# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# project temp files
/output
/plots

# competition data
/comp_data
explanation.md
cafa.md
*.obo
*.fasta
*.gz
*.tsv
# local build outputs
/.pytest_cache
/artifacts/*
/results/*
/recreated_comp_data/Train/*
/recreated_comp_data/Test/*
/recreated_comp_data/Pred/*

# environments
.venv/
env/
venv/

# IDE
.vscode

# codex
.codex
PLANS.md
AGENTS.md